<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>siika</title>
</head>
<body>
  <div id="container">
    <canvas id="canvas"></canvas>
    
  </div>
<p id="mouse">none</p>
</body>
</html>
