// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

$header-height: 0px;
$footer-height: 0px;
$page-margin: 5px;
$content-width: 900px;

*, *:before, *:after {
    box-sizing: inherit;
}
body {
  
}

#canvas {
  max-width: $content-width;
  width: 90%;
  height: 90%;
  border-color: grey;
  border-width: 0px;
  border-style: dashed;
  background-color: aliceblue;
}

#container {
  top: $header-height;
  bottom: $footer-height;
  right: $page-margin;
  left: $page-margin;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
